{% extends "base.html" %}


{% block content %}

<h1 class="text-center mt-4 mb-5">This is Home page!</h1>

<div class="p-5">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">Musician Name</th>
                <th scope="col">Email</th>
                <th scope="col">Album Rating</th>
                <th scope="col">Instrument Type</th>
                <th scope="col">Album Name</th>
                <th scope="col">Release Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'edit_musician' i.id %}">{{i.musician.First_name}} {{i.musician.Last_name}}</a></td>
                <td>{{i.musician.Email}}</td>
                <td>{{i.Rating}}</td>
                <td>{{i.musician.Instrument_type}}</td>
                <td>{{i.Album_name}}</td>
                <td>{{i.release_date}}</td>
                <td class="d-flex gap-2">
                    <a href="{% url 'edit_album' i.id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'delete_album' i.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
              
            {% endfor %}
           
        </tbody>
    </table>

</div>

{% endblock content %}


